# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/dbname
READONLY_DATABASE_URL=

# Meta / WhatsApp API
META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=your_permanent_system_user_token_here
META_VERIFY_TOKEN=akoweai_webhook_2026

# Interswitch
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAY_ITEM_ID=
INTERSWITCH_SECRET_KEY=
INTERSWITCH_BASE_URL=https://newwebpay.qa.interswitchng.com

# Gemini
GEMINI_API_KEY=

# Security
JWT_SECRET_KEY=your_generated_hex_string_here
INTERNAL_CRON_SECRET=your_other_generated_hex_string_here

# App URLs
FRONTEND_URL=
